body{
  margin-left:6rem;
  margin-right:6rem;
}

li{
  display:inline-block;
  font-family:"Montserrat",Arial,san-serif;
  font-size:14px;
}
header ul{
  position:absolute;
  top:1rem;
  right:3rem;
}

p{
  font-family:"Montserrat",Arial,san-serif;
}

h1{
  font-family:"Montserrat",Arial,san-serif;
  font-size:24px;
}

.intro{
  width:600px;
}

.nav{
  text-align:right;
  margin-right:1rem;
}

.tag{
  text-align:center;
  margin-top:80px;
}

.grid-container{
  display:grid;
  grid-template-columns: auto auto auto;
  padding:10px;
  margin-bottom:80px;
}

.grid-child{
  border: 1px solid rgba(0,0,0,0.8);
  border-style:solid;
  width:320px;
  height:320px;
}

.grid-child img{
  width:320px;
  height:210px;
  object-fit: fill;
}

.form{
  margin-top:80px;
}
